@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background-color: #242424;

}
#root {
  background-color: #242424;
margin: 0;
/* height: 100vh; */
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
